{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    quotes: [2, 'double', { avoidEscape: true }],
    prefer-rest-params: 0,
    object-curly-spacing: 0,
    brace-style: ["error", "stroustrup"],
  }
}
